<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta charset="UTF-8">
  {% block stylesheets %}{% endblock %}
  <link rel="stylesheet" href="/print.css">
</head>
<body>
  {% for page in pages %}
      <div class="page print">{{page|md2html|headlink}}</div>
  {% endfor %}
  <script>
      window.print();
  </script>
</body>
</html>










