
body {
    background: #f2f2f2;
    font-size: 14pt;
    padding-top: 20px;
}
p {
    font-size: 13pt;
}

header {
    background: #FFF;
}

.infobar {
    background: #FFF;
    padding: 20px 20px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}

blockquote {
    background: #FFFFCC;
    border:  1px solid #FFE47A;
    border-width: 1px 1px 1px 5px;
    margin: 15px 0 20px;
}
#wrapper {
/*    width:  210mm;*/
    margin: 0 auto 0 0;
}
.paper {
    /*height: 297mm;*/
    background: #FFFFFF url('/an-gr.png') no-repeat;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    padding: 5mm 15mm 10mm; 
}

aside {
  margin-left: 20px;
  margin-top:  30px;
}

.social-btn {
    border-top: 1px solid #CCC;
    margin-top: 20px;
    min-height: 63px;
    padding: 5px 0;
}

.social-btn .pluso {
    margin-left: -5px;
}

.external-link {
    display: inline-block;
    cursor: pointer;
    background-image: url('/link.png');
    margin-bottom: -3px;
    margin-left: -42px;
    margin-right: 8px;
    height: 32px;
    width: 32px;
    opacity: 0.2;
}

.external-link:hover {
    opacity: 0.8;
}


.index-maintain {
    font-size: smaller;
    border-top: 1px solid #CCC;
    margin-top: 0px;
    padding-top: 20px;
    padding-right: 20px;
}


.about {
    font-size: 10pt;
    border-top: 1px solid #CCC;
    margin-top: 20px;
    padding-top: 10px;
}

.about__link {
    color: #CCC;
}
.about__link:hover {
    color: #999;
}

.counters {
  margin: 10px 0;
  opacity: 0.3;
}

.counters:hover {
  opacity: 1;
}

.print-left {
    margin-bottom: 20px;
}

.print-left {

}

.primary-container:after {
    clear: none;
}

.primary-container {
    /*background: #6b9311;*/
}

@media print {
    .aside, .footer, div:not(.print){
        display: none;
    }

    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 0px;
        line-height: 1;
        /*font-size: 100%;*/
    }

    /*h1 { font-size: 200%; }
    h2 { font-size: 160%; }
    h3 { font-size: 130%; }*/

    .paper {
        padding: 0mm 5mm 5mm;
    }

    body {
        /*font-size: 220%;*/
        font-family: Arial, Tahoma, Verdana, sans-serif;
    }

    p {
        /*font-size: 100%;*/
    } 
}
    
    .page {
        page-break-after: always;
    }
    
    .more {
        display: block;
        page-break-after: always;
        page-break-inside: avoid;
        position: relative;
    }
