
body {
    background: #f2f2f2;
    font-size: 14pt;
    padding-top: 20px;
}
p {
    font-size: 13pt;
}

header {
    background: #FFF;
}

.infobar {
    background: #FFF;
    padding: 20px 20px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}

blockquote {
    background: #FFFFCC;
    border:  1px solid #FFE47A;
    border-width: 1px 1px 1px 5px;
    margin: 15px 0 20px;
}
#wrapper {
/*    width:  210mm;*/
    margin: 0 auto 0 0;
}
.paper {
    /*height: 297mm;*/
    background: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    padding: 5mm 15mm 10mm;
}

aside {
  margin-left: 20px;
  margin-top:  30px;
}

.index-links {

}

.index-maintain {
    font-size: smaller;
    border-top: 1px solid #CCC;
    margin-top: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.print-left {
    margin-bottom: 20px;
}

.print-left {

}

.primary-container:after {
    clear: none;
}

.primary-container {
    /*background: #6b9311;*/
}

@media print {
    .aside, .footer, div:not(.print){
        display: none;
    }

    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 0px;
        line-height: 1;
        /*font-size: 100%;*/
    }

    /*h1 { font-size: 200%; }
    h2 { font-size: 160%; }
    h3 { font-size: 130%; }*/

    .paper {
        padding: 0mm 5mm 5mm;
    }

    body {
        /*font-size: 220%;*/
    }

    p {
        /*font-size: 100%;*/
    } 
}
    
    .more {
        display: block;
        page-break-after: always;
        page-break-inside: avoid;
        position: relative;
    }
