@media print {
    .aside, .footer, div:not(.print){
        display: none;
    }
}
    
     
    body {
        font-size: 120%;
        font-family: Arial, Tahoma, Verdana, sans-serif;
    }
    
    .page {
        page-break-after: always;
    }
    
    .anchor { 
        display: none;
    }

    .h1, .h2, .h3, h1, h2, h3 {
        /*margin-top: 0px;*/
        /*line-height: 1;*/
        /*font-size: 100%;*/
        font-weight: normal;
    } 
